.Productpage {
  width: 100%;
  margin-top: 55px;
}

.producttopbanner {
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 0 2px gray;
  gap: 25px;
  padding: 0 9px 0 15px;
  background-color: aliceblue;
}
.productitems {
  padding: 0 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.productitems_submenu {
  padding: 0 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  font-size: 15px;
  font-style: italic;
  &:hover {
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 1px;
  }
}

/* left side page */
.Productmainpage {
  display: flex;
  padding: 8px 16px;
}

.productmainpageleftside {
  width: 14%;
  border-right: 2px solid orchid;
  padding: 0 10px;
}

.mainpageleftsidetitle {
  font-size: 14px;
  font-weight: 700;
  padding: 15px;
  margin: 10px;
}

.leftsidecontent {
  margin-top: 10px;
  font-size: 14px;
  gap: 10;
  display: flex;
  flex-direction: column;
}

.ratingleftbox {
  display: flex;
}

/* right side */
.productrightsidepage {
  width: 86%;
  padding: 0 0 0 12px;
}

.rightsidepagetopbanner {
  width: 99%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 14px 38px;
  border-radius: 5px;
  font-size: 14px;
}

/* long card */

.homedetailsamazonproduct {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  width: 100%;
  gap: 20px;
}

.homedetailslongcardamazon {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgb(237, 174, 174);
}

.longcardtitleamazon {
  font-size: 18px;
  font-weight: 700;
}

.scrolldivcardsamazon {
  display: flex;
  -webkit-text-stroke-width: 100%;
  overflow: auto;
  flex-direction: column;
}

.scrolldivcardsamazon::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.longcardsitemsamazonproduct {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  margin-left: 240px;
}
