.register-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #e7dede;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: sticky;
  height: 600px;
}

.signup {
  font-size: 20px;
  color: rgb(221, 79, 112);
  font-weight: bold;
}

.register-form {
  display: flex;
  flex-direction: column;
}
.form-group-register {
  margin-bottom: 15px;
  text-align: center;
}

.form-group-register label {
  font-size: 15px;
  font-style: oblique;
  text-shadow: 5px 3px 5px lightblue;
  padding: 2px;
  margin: 2px;
}

.form-group-register input {
  width: 70%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #111111;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-size: 15px;
  margin-left: 15px;
}

.form-group-register input:focus {
  border-color: #0dab57;
  outline: none;
}

.signupbtn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
  text-align: center;
  justify-content: center;
  margin-left: 100px;
}

.registererrmessage {
  color: red;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 100;
  text-decoration: underline;
}

.alreadyregiter {
  margin: 5px;
  padding: 5px;
}

@media (max-width: 480px) {
  .register-container {
    padding: 15px;
    font-size: 10px;
    width: 100%;
  }
}
